<%-include('../header.layout.ejs', { title : "Welcome Page", styles : Array('/assets/style/index.css') }) %>

<v-app>

<v-content>
<v-container fill-height>

<v-card width="780" style="margin-left: auto; margin-right: auto; border-radius: 5px 30px 30px 5px;">
<v-card-title>
    <v-icon color="success" left>mdi-tea</v-icon>
    <span>Coffe Shop</span>
    <v-spacer></v-spacer>
    <v-dialog v-model="isDiashier">
        <v-card>
            <v-card-title>
                <v-btn v-on:click="close('diashier')" type="button" color="red" x-small icon outlined><v-icon>mdi-close</v-icon></v-btn>
                <v-spacer></v-spacer>
                <v-btn v-on:click="save('diashier')" type="button" color="primary" outlined>Save</v-btn>
            </v-card-title>
            <v-card-text><v-text-field v-model="dialogue.diashier" type="text" label="Cashier Name" outlined></v-text-field></v-card-text>
        </v-card>
    </v-dialog>
    <v-dialog v-model="isDiacgory">
        <v-card>
            <v-card-title>
                <v-btn v-on:click="close('diacgory')" type="button" color="red" x-small icon outlined><v-icon>mdi-close</v-icon></v-btn>
                <v-spacer></v-spacer>
                <v-btn v-on:click="save('diacgory')" type="button" color="primary" outlined>Save</v-btn>
            </v-card-title>
            <v-card-text><v-text-field v-model="dialogue.diacgory" type="text" label="Category Name" outlined></v-text-field></v-card-text>
        </v-card>
    </v-dialog>
    <v-dialog v-model="isDialog" width="480">
        <template v-slot:activator="{ on }"><v-btn v-on="on" color="primary" icon outlined><v-icon>mdi-plus</v-icon></v-btn></template>
        <v-card>
            <v-card-title>
                <v-btn v-on:click="close('dialogue')" type="button" color="red" x-small icon outlined><v-icon>mdi-close</v-icon></v-btn>
                <span style="margin: 0 auto;">Add a new item?</span>
            </v-card-title>
            <v-card-text>
                <v-select v-model="dialogue.cashier" v-on:click:append-outer="isDiashier = true" v-bind:items="item.cashiers" label="Cashier Name" append-outer-icon="mdi-plus" outlined></v-select>
                <v-select v-model="dialogue.category" v-on:click:append-outer="isDiacgory = true" v-bind:items="item.categories" label="Category" append-outer-icon="mdi-plus" outlined></v-select>
                <v-text-field v-model="dialogue.product" type="text" label="Product Name" outlined></v-text-field>
                <v-text-field v-model="dialogue.price" type="number" label="Price Tag" outlined></v-text-field>
            </v-card-text>
            <v-card-actions style="padding: 10px 38px;">
                <v-spacer></v-spacer>
                <v-btn v-on:click="save('dialogue')" type="button" color="primary">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-card-title>
<v-card-text><v-data-table v-bind:headers="field" v-bind:items="item.datas" disable-sort></v-data-table></v-card-text>
</v-card>

</v-container>
</v-content>

</v-app>
<%- include('../footer.layout.ejs', { scripts : Array('/assets/script/dist/' + process.env.NODE_ENV + '-bundle.index.js') }) %>